In [1]:
import pandas as pd
import sqlalchemy as alch

In [2]:
from getpass import getpass
password = getpass("Introduce your sql password: ")

Introduce your sql password: ········

In [ ]:
# Create a Python connection with SQL database and retrieve the results of the last two queries 
# --> see lab-sql-9_patrick-gatterbauer.sql

In [3]:
dbName="sakila"
connectionData=f"mysql+pymysql://patrick.gatterbauer:{password}@127.0.0.1/{dbName}"
engine = alch.create_engine(connectionData)
print("I AM INNNNNN!!!!")

I AM INNNNNN!!!!

In [4]:
# (also mentioned below) as dataframes

# Check the number of rentals for each customer for May

In [11]:
df_may = pd.read_sql_query(
"""
SELECT
	customer.customer_id, customer.first_name, customer.last_name, COUNT(rentals_may.rental_id) 
    AS count_rentals_may
FROM
	customer
JOIN
	rentals_may
ON 
	customer.customer_id = rentals_may.customer_id
GROUP BY
	customer.customer_id, customer.first_name, customer.last_name
ORDER BY 
	count_rentals_may DESC;

""", engine
)

In [12]:
df_may.head()

   customer_id first_name last_name  count_rentals_may
0          197        SUE    PETERS                  8
1          506     LESLIE    SEWARD                  7
2          109       EDNA      WEST                  7
3          269  CASSANDRA   WALTERS                  6
4          239     MINNIE    ROMERO                  6

In [ ]:
# Check the number of rentals for each customer for May

In [13]:
df_june = pd.read_sql_query(
"""
SELECT
	customer.customer_id, customer.first_name, customer.last_name, COUNT(rentals_june.rental_id) 
    AS count_rentals_june
FROM
	customer
JOIN
	rentals_june
ON 
	customer.customer_id = rentals_june.customer_id
GROUP BY
	customer.customer_id, customer.first_name, customer.last_name
ORDER BY 
	count_rentals_june DESC;

""", engine
)

In [14]:
df_june.head()

   customer_id first_name last_name  count_rentals_june
0           31     BRENDA    WRIGHT                  11
1          454       ALEX   GRESHAM                  10
2          329      FRANK  WAGGONER                   9
3          295      DAISY     BATES                   9
4          561        IAN     STILL                   9

In [ ]:
# - Write a function that checks if customer borrowed more or less films in the 
# month of June as compared to May.

#  **Hint**: For this part, you can create a join between the two dataframes created before, 
#using the merge function available for pandas dataframes. Here is a link to the documentation 
# for the [merge function]
# (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.merge.html).

In [18]:
df_comparison = df_may.merge(df_june, on=["customer_id", "first_name", "last_name"], how="inner")
df_comparison.head()

   customer_id first_name last_name  count_rentals_may  count_rentals_june
0          197        SUE    PETERS                  8                   8
1          506     LESLIE    SEWARD                  7                   5
2          109       EDNA      WEST                  7                   5
3          269  CASSANDRA   WALTERS                  6                   3
4          239     MINNIE    ROMERO                  6                   5

ValueError: Length of values (2) does not match length of index (512)